@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-6 {
    width: 50%;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    background-color: #ff0157;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
}

section {
    padding: 80px;
}

section span {
    font-size: 2em;
    color: #ff0157;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 10;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    margin-right: 20px;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
}

/* Banner */
.banner {
    width: 100%;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.postimg.cc/s29LNR86/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    color: white;
    font-size: 5em;
}


.banner .content p{
    color: white;
    margin-bottom: 20px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h3 {
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 0px;
}

.menu-item {
    width: 300px;
    border: 1px solid rgb(251, 251, 251);
    padding: 15px;
    box-shadow: 0px 5px 20px rgb(197, 197, 197);
}

/* Expert section */
.experts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experts h3 {
    text-align: center;
}

.expert-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.expert-content {
    width: 250px;
    margin: 0px 20px;
}

/* Testimonials section */
.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials>h2,.testimonials>p {
    color: white;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.testimonials-content {
    background-color: white;
    width: 300px;
    padding: 40px;
}

.testimonials-content .image-container img {
    border-radius: 50%;
    height: 340px;
}

.testimonials-content p, h2 {
    text-align: center;
}

.testimonials-content h2 {
    margin-top: 25px;
    color: #ff0157;
    font-weight: 900;
}

/* Contact */
.contact {
    background: url(https://i.postimg.cc/4NmrNq7y/bg3.jpg);
    background-size: cover;
}

.contact p {
    text-align: center;
}

.contact h3 {
    font-weight: 400;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 40px rgb(197, 197, 197);
    margin-top: 50px;
    padding: 70px 40px;
}

.contact form input, textarea{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 16px;
}

.contact form .input-btn{
    background-color: #ff0157;
    color: white;
    border: none;
    font-size: 18px;
}
