@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-6 {
    width: 50%;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    background-color: #ff0157;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
}

section {
    padding: 80px;
}

section span {
    font-size: 2em;
    color: #ff0157;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 10;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    margin-right: 20px;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
}

/* Banner */
.banner {
    width: 100%;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.postimg.cc/s29LNR86/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    color: white;
    font-size: 5em;
}


.banner .content p{
    color: white;
    margin-bottom: 20px;
}
