@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-6 {
    width: 50%;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 100px;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    margin-right: 20px;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
}
